body {
    font-family: Arial,sans-serif;
    background-color: #1d3b66 !important;
    color: white !important;
    margin: 0;
    padding: 0; 
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-links ul {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #8692d6;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links a:hover {
    color: #4b5ec4;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
    justify-content: center;
}

.section {
    flex: 1;
    min-height: 280px;
    margin: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.section p, .projeto p {
    text-align: justify;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projeto {
    background: #1c3b64;
    padding: 15px;
    border-radius: 8px;
    width: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.projeto .d-flex {
    flex-wrap: wrap;
    justify-content: center;
}

.projeto img {
    max-width: 100%;
    height: auto;
}

.projeto h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
}

.projeto p {
    font-size: 1rem;
    color: #ddd;
}

.projeto a {
    display: inline-block;
    margin-top: 10px;
    color: #4facfe;
    text-decoration: none;
    font-weight: bold;
}

.projeto a:hover {
    color: #fff;
}

.contact a {
    color: #ffcc00;
    font-weight: bold;
}

.contact a:hover {
    color: #fff;
}

.contact p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact i {
    font-size: 1.5rem;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .sections {
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }
}


@media screen (max-width: 640px) {[="col-*"]{width: 100%;}}